body {
    margin: 0;
    padding: 0;
    border: 0; /* This removes the border around the viewport in old versions of IE */
    width: 100%;
    background: #a3a3a3;
    min-width: 600px; /* Minimum width of layout - remove line if not required */
    /* The min-width property does not work in old versions of Internet Explorer */
}

h1, h2, h3 {
    margin: .8em 0 .2em 0;
    padding: 0;
}

p {
    margin: .4em 0 .8em 0;
    padding: 0;
}

img {
    margin: 10px 0 5px;
}

/* Header styles */
#header {
    clear: both;
    float: left;
    width: 100%;
    background: #9c9b7a;
}

#header p,
#header h1,
#header h2 {
    padding: .4em 15px 0 15px;
    margin: 0;
}

#header2 {
    clear: both;
    float: left;
    width: 100%;
    background: #585841;
    padding: 0 15px 10px 15px;

}

#header2 h2 {
    width: 100%;
    text-align: center;
    color: rgb(220, 220, 220);
}

/* column container */
.colmask {
    clear: both;
    float: left;
    width: 100%; /* width of whole page */
    overflow: hidden; /* This chops off any overhanging divs */
}

/* common column settings */
.colright,
.colmid,
.colleft {
    float: left;
    width: 100%;
    position: relative;
}

.col1,
.col2 {
    float: left;
    position: relative;
    padding: 3% 0 1% 0;
    overflow: hidden;
}

/* 2 Column (double page) settings */
.doublepage {
    color: rgb(220, 220, 220);
    background: #c16528; /* right column background colour */
}

.doublepage .colleft {
    right: 33%; /* right column width */

}

.doublepage .col1 {
    width: 62%; /* left column content width (column width minus left and right padding) */
    left: 35%; /* right column width plus left column left padding */
    font-size: 120%;

}

.doublepage .col2 {
    width: 29%; /* right column content width (column width minus left and right padding) */
    left: 39%; /* (right column width) plus (left column left and right padding) plus (right column left padding) */
}

#fullwidth {
    clear: both;
    float: left;
    width: 96%; /* width of whole page minus padding on both sides */
    overflow: hidden; /* This chops off any overhanging divs */
    background: #a3a3a3;
    padding: 2%;
}

#footer {
    clear: both;
    float: left;
    width: 100%;
    background: #9c9b7a;

}

#footer p {
    padding: 20px 5px 20px 5px;
    margin: 0;
    text-align: center;
}

#footer2 {
    clear: both;
    float: left;
    width: 100%;
    background: #585841;

}

#footer2 ul{
    width: 100%;
    text-align: center;
}


.navlist li {
    display: inline-block;
    list-style-type: none;
    vertical-align: middle;
}

.navlist a
{
padding: 5px 10px 5px 10px;
color: #101010;
text-decoration: none;
}

.navlist a:hover
{
background-color: #585841;
color: white;
}

.navlist .nohover a:hover {
    text-decoration: none;
    color:black;
    background-color: #9c9b7a;
}